:root{
  --primary-color: #203864;
  --accent-color-1: #A4041F;
  --accent-color-2: #B2DE82;
  --accent-color-3: #FFE699;
  --accent-color-4: #fff;
}


@font-face {
  font-family: ModernLoveGrunge;
  src: url('./fonts/fontModernLoveGrunge.ttf') format("truetype");
}

@font-face {
  font-family: Candara;
  src: url('./fonts/Candara.ttf') format("truetype");
}



body {
  margin: 0;
  font-family: ModernLoveGrunge, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  padding-bottom: 10rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: ModernLoveGrunge;
  color: var(--accent-color-2);
  font-size: 80px;
}
h2{
  font-family: ModernLoveGrunge;
  color: var(--accent-color-2);
  font-size: 80px;
  text-shadow: 5px 2px 2px rgb(0 0 0);
}
h3{
  font-family: ModernLoveGrunge;
  font-size: 50px;
  text-shadow: 2px 1px 1px rgb(0 0 0);
  color:var(--primary-color);
}


.contact-info-line{
  margin: 30px auto; 
}
.contact-info-line h3{
  text-shadow: none;
}
.contact-info-line a{
  text-decoration: underline solid var(--primary-color) 4px;
  text-underline-offset: 10px;
  font-family:ModernLoveGrunge;
  font-size: 50px;
  color: var(--primary-color);
}
.contact-info-line h3:hover{
  color: var(--accent-color-2); 
}

.padding-right{
  padding-right: 30px;
}


p{
  padding: 20px 0;
  margin: 0;
}

header {
  color: var(--accent-color-4);
  background-color: var(--primary-color);
  text-shadow: 5px 2px 2px rgb(0 0 0);
  border-bottom: 10px solid var(--accent-color-2);
}

header h1 {
  font-size: 3rem;
  margin: 12px
}

nav {
  margin: auto 0;
}

nav li {
  font-family: modernLoveGrunge;
  cursor: pointer;
  font-size: 3rem;

}

nav a {
  text-decoration: none;
  color: var(--accent-color-4);
}

nav a:hover, .nav-active, .footer-icon:hover {
  color: var(--accent-color-2)
}

.footer-icon {
  margin: 0 2rem;
  font-size: 2rem;
}

.highlight:hover {
  text-shadow: 2px 2px 20px var(--accent-color-3);  
  transition: text-shadow .3s ease-in-out;
}

.footer {
  background-color: var(--primary-color);
  color: var(--accent-color-4);  
  padding: .5rem
}

ul {
  text-indent: 0;
  padding-left: 50px;
}

#about-me h2, #about-me h3{
  color: var(--accent-color-2);
  
}
.sub-list{
  text-indent: 0;
}
.sub-list li{
  list-style: none;
}

#headshot{
  margin: 0 auto;
}
.list, .sub-list, li, p{
  font-family: Candara;
  font-size: 30px;
  color: var(--primary-color);
  line-height: 1.5;
}

#contact{
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  margin:0 auto;
  width:80%;
}

article img{
  width: 100%;
}

.project-wrapper {
  width:47%;
  border: 2px solid black;
  background-color: white !important;
}

.project-article {
  position: relative;  
  height: 100%;
}

.project-title {
  color: var(--accent-color-4);
  background-color: var(--primary-color);
  margin: 0;
  padding: .5rem;
}

.project-title h4 {
  margin:0
}

.project-icon{
  color: var(--accent-color-4);
  font-size: 2rem;
}

.project-icon:hover {
  color: var(--accent-color-2)
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color-4);
  opacity: 0;
}

.overlay:hover {
  opacity: .5
}

a {
  text-decoration: none;
}

label {
  width:50%;
  font-size:large;
  font-family: Candara;
  font-weight: bold;
}

input,textarea {
  width:50%;
  font-family: Candara;
}

input:focus, textarea:focus {
  box-shadow: 2px 2px 20px var(--accent-color-2);
}



.section-title{    
  border-bottom: 10px solid var(--primary-color);
  width: 100%;
  margin:0 auto 20px;
}



.btn-container {
  width: 50%;
  margin:30px auto
}

button, .btn-container a {
  padding: 1rem 0;
  border-radius: 10px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--accent-color-2);
  border: 2px solid var(--primary-color);
  box-shadow: 2px 2px 10px black;
}

button:hover, .btn-container a:hover {  
  scale: 1.1;
  transition: .5s ease-in-out;
}


.resumeBtn {
  width: 40%;  
}

.contactBtn {
  width: 20%;
}

.skillsContainer{
  width: 80%;
  margin: 0 auto
}

.text-accent-1 {
  color: var(--accent-color-1)
}

.text-accent-2 {
  color: var(--accent-color-2)
}

.text-accent-3 {
  color: var(--accent-color-3)
}

.text-accent-4 {
  color: var(--accent-color-4)
}

.text-primary {
  color: var(--primary-color)
}



#project-holder{
  display: flex;
  flex-wrap: wrap;
}

.project-wrapper{
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  min-width: 40%;
 
}

.project-article{
  width: 100%;
}



/*MEDIA QUERY FOR SCREEN SIZES 1279PX WIDE OR SMALLER*/

@media screen and (max-width: 1279px){
 
 
  header h1, .section-title{
    font-size: 4rem;
    text-align: center;
    width: 100% !important;
  }

  nav{
    margin: auto;
  }

  .btn-container {
    width: 70%;
    margin:30px auto
  }

  .resumeBtn {
    width: 40%;  
  }
  .sub-list{
    padding-top: 10px;
    text-align: center;
    text-indent: 0;
    padding-left:0
  }
  .list{
    padding-left:17px;
    text-align: left;
  }

.contact-info-line h3, .contact-info-line a{
    font-size: 2.25rem;

}
  

}


/*MEDIA QUERY FOR SCREEN SIZES 844PX WIDE OR SMALLER*/

@media screen and (max-width: 844px){
 
  
  .nav a{
      font-size: 2.5rem;      
  }  

  .contact-info-line h3, .contact-info-line a{
      font-size: 2rem;
  }
  article h3{
      font-size: 2.5rem;
  }
  p, ul li{
      font-size: 1.5rem;
  }

  .contactBtn{
    width: 50%
  }

}






/*MEDIA QUERY FOR SCREEN SIZES 767PX WIDE OR SMALLER*/

@media screen and (max-width: 767px){
 
  header h1, .section-title{
    font-size: 3.5rem;
    text-align: center;
    /* width: 100% !important; */
  }
  .nav a{
      font-size: 2rem;      
  }  
 
  .contact-info-line h3, .contact-info-line a{
      font-size: 1.5rem;
  }
  article h3, h3{
      font-size: 2.5rem;
  }
  p, ul li{
      font-size: 1.5rem;
  }
  .section-title{    
    border-bottom: 5px solid var(--primary-color);
  }

  .btn-container {
    width: 80%;
    margin:30px auto
  }

  #projects #project-holder{
    display: grid !important;
    grid-auto-rows: 1fr;
  }

  .project-wrapper{
    width:100%;
  }
  
}
   
  
/*MEDIA QUERY FOR SCREEN SIZES 646PX WIDE OR SMALLER*/

@media screen and (max-width: 646px){

  #headshot{
      width: 30%;
  }
  header h1, .section-title{
    font-size: 2.5rem;  
  }
  .nav a{
      font-size: 1.5rem;      
  }  
 

  p, ul li{
      font-size: 20px;
  }


  .btn-container {
    width: 90%;
    margin:30px auto
  }

  .btn-container .resumeBtn{
    font-size: 1.25rem
  }

}
  
/*MEDIA QUERY FOR SCREEN SIZES 575PX WIDE OR SMALLER*/

@media screen and (max-width: 575px){

  #headshot{
    width: 20%;
  }
  header h1, .section-title{
    font-size: 2rem;  
  }
  .nav a{
    font-size: 1.2rem;      
  }  
  p, ul li{
      font-size: 15px;
  }

  .contact-info-line{
    display:block !important;
    text-align: center;
  }

  .contact-info-line a{
    text-decoration: underline solid var(--primary-color) 2px;
  }

  article h3, h3{
      font-size: 20px;
  }

  .skillsContainer{
    justify-content: space-around !important;
  }

  .skills-column{
    width:50%
  }
  h2{
    text-shadow: 3px 1px 1px rgb(0 0 0)
  }

  h3{
    text-shadow: 2px .75px .5px rgb(0 0 0);
  }
  .btn-container{
    display:block !important;
    width:80%
  }
  .resumeBtn {
    width:100%;
    margin: 10px auto
  }

}
      
  /*MEDIA QUERY FOR SCREEN SIZES 443PX WIDE OR SMALLER*/
  
@media screen and (max-width: 443px){

  nav ul {
    display:block !important;
    text-align: center;
  }
  .nav a{
    font-size: 25px;
  }
 
  .contact-info-line{
    width: 100%;
    justify-content: center;
  }
  .contact-info-line h3, .contact-info-line a{
    font-size: 1.25rem;
  }

  
  #projects h3{
    font-size: 15px;
    padding: 10px 0;
  } 
  
}

  /*MEDIA QUERY FOR SCREEN SIZES 330PX WIDE OR SMALLER */

@media screen and (max-width: 330px){

  .contact-info-line h3, .contact-info-line a{
    font-size: 1rem;
  }

  .skillsContainer{
    width: 100%;
  }
}